:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}
* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}


.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: calc(100vh - 72px);
}
  .hero-content {
    display: flex; 
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 36px;
  }
.text{
  flex-wrap: wrap;
  flex-direction: column;
}
.hero-image{
  flex-wrap: wrap;
}
.hero{
  background: transparent;
  margin-top: 5%;
  margin-bottom: 10px;
  width: 90%;
  height: 90%;
}
.hero h1 {
  margin-top: 25px;
  font-weight: 800;
  line-height: 70px;
  font-size: 70px;
}
.hero p {
  margin-top: 20px;
  line-height: 20px;
  font-weight: 600;
  font-size: 20px;
  color: var(--gray);
  max-width: 400px;
}
.hero-btn {
  margin-left: 5%;
  display: flex;
  gap: 40px;
}
.hero-btn button {
  font-size: 24px;
}

.secondary-btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}
.shopping{
  margin-left: 5%;
}
.shopping p {
  font-size: 15px;
  margin-bottom: 8px;
}
.brand-icons {
  display: flex;
  gap: 16px;
}
.logo{
  width: 100px;
  height: 100px;
}
.aflogos{
  width: 40px;
  height: 40px;
}
@media (max-width:700px){
  button {
    all: unset;
    padding: 3 10px;
    background: var(--red);
    height: 30px;
    color: white;
    font-weight: 300;
  }
  nav {
    display: flex;
    display: none;
    /* justify-content: space-between;
    height: 72px;
    align-items: center; */
  }
  
    nav ul {
      /* flex-direction: column; */
      flex-wrap: wrap;
      display: none;
    }
    .hero-btn {
      margin-left: 5%;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    .hero-btn button{
      font-size: 20px;
    }
    .hero h1 {
      margin-top: 15px;
      font-weight: 800;
      line-height: 60px;
      font-size: 40px;
    }
    
.secondary-btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}
.shopping{
  margin-left: 5%;
}
.shopping p {
  font-size: 10px;
  margin-bottom: 8px;
}
  
    nav li {
      margin: 0.5em 0;
    }
    .hero-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 36px;
  }
  .hero p {
    margin-top: 20px;
    line-height: 20px;
    font-weight: 600;
    font-size: 15px;
    color: var(--gray);
    max-width: 300px;
  }
  
  .text{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .hero-image{
    flex-wrap: wrap;
  }
}